.ControlledCarousel .carousel-inner {
    position: relative;
    width: 80%;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #000000;
    border: 3px solid #ec880eb0;
    background-color: #242424d4;
    margin: 20px auto;
    overflow: hidden;
}

.ControlledCarousel img{
    width: 80%;
    margin: 0 auto;
    height: 430px;
    object-fit:fill;
}
.carousel-control-next-icon , .carousel-control-prev-icon{
    display: none;
}
